.navbar {
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2000 !important; 
    background-color: #000000 !important;
    border-bottom: 3px solid #2e7d32;
    padding: 0.8rem 1rem;
    transition: all 0.3s ease;
}

.navbar-brand {
    color: #ffffff !important;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: color 0.5s ease
}
    .navbar-brand:hover {
        color: #00d427 !important;
    }

    .nav-link {
        color: #ffffff !important;
        text-transform: uppercase;
        font-weight: 600;
        margin: 0 10px;
        transition: color 0.3s ease;
    }

        .nav-link:hover {
            color: #00d427 !important;
           
        }


section[id] {
    scroll-margin-top: 70px;
}

    /*Esto es para el boton de admin si es que esta ok*/

.btn-outline-warning {
    border-color: #ffc107;
    color: #ffc107;
    transition: all 0.3s ease;
}

    .btn-outline-warning:hover {
        background-color: #ffc107;
        color: #000;
    }
