
.rifas-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap: 12px;
    padding: 20px;
}

.rifa-box {
    aspect-ratio: 1 / 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    transition: all 0.2s ease-in-out;
    border: none;
    color: white; 
    text-shadow: 0px 1px 2px rgba(0,0,0,0.4); 
}

    .rifa-box.disponible:hover {
        transform: scale(1.08);
        box-shadow: 0 8px 15px rgba(0,0,0,0.2);
        filter: brightness(1.25);
        z-index: 5;
    }

    .rifa-box.disponible {
        background: linear-gradient(135deg, #43a047, #2e7d32); /* Verde vibrante */
    }

    .rifa-box.reservado {
        background: linear-gradient(135deg, #fbc02d, #f9a825); 
        color: #333; 
        text-shadow: none;
    }

    .rifa-box.vendido {
        background: linear-gradient(135deg, #d32f2f, #b71c1c); 
        cursor: not-allowed;
    }

.numero-rifa {
    font-size: 1.5rem;
    font-weight: 700;
}

.precio-rifa {
    font-size: 0.9rem;
    font-weight: 500;
    opacity: 0.9;
}


/*Boton final para confirmar compra*/

#btnConfirmarSeleccion {
    display:none;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    background: #1b5e20 !important;
    color: white !important;
    border: 2px solid #2e7d32;
    border-radius: 12px;
    padding: 12px 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

    #btnConfirmarSeleccion:hover {
        background: #2e7d32 !important;
        transform: translateX(-50%) translateY(-5px); 
        box-shadow: 0 15px 30px rgba(0,0,0,0.5);
    }

    #btnConfirmarSeleccion:active {
        transform: translateX(-50%) scale(0.95);
    }